body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Anonymous Pro', monospace;
    color: black;
}

* {
    box-sizing: border-box;
}

header{
    padding-bottom: 48px;
}

.header{
    margin-top: 48px;
}

.knopka{
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(90deg, #FFA800 0%, #FF07AB 100%);
   /* Чтобы градиент был на самом тексте*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.ss{
    opacity: .48;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.select a{
    text-decoration: none;
    color: black;
    padding: 16px;
    font-weight: bold;
}

#disbtn{
    padding: 16px 16px 16px 0px;
}

.select a:hover{
    color: rgba(0, 0, 0, 0.808);
}

.button{
    padding: 0px 16px 16px 16px;
    transition: 0.72s;
    margin-bottom: 48px;
}

.button:hover{
    /* Чтобы при наведении кнопка увеличивалась */
    transform: scale(1.08);
    transition: 0.16s;
}

.container{
    margin: 0 auto;
    width: 1110px;
}

.select{
    display: flex;
    justify-content: space-between;
}

.select2{
    margin-top: 80px;
}


.we{
    color: rgb(0, 0, 0);
    font-style: 20px;
    font-weight: bold;
    opacity: .48;
    line-height: 20px;
}

.reklama{
    color: rgb(0, 0, 0);
    line-height: 49px;
    font-size: 48.83px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.proc{
    color: rgb(0, 0, 0);
    font-weight: 400px;
    line-height: 20px;
    font-style: 20px;
    color: rgba(0, 0, 0, 0.48);
    margin-bottom: 48px;
}

.wtf{
    color: rgb(0, 0, 0);
    margin-top: 32px;
}

.opa{
    opacity: .48;
}

.btn{
    padding: 16px 32px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 294px;
    height: 52px;
    border-radius: 8px;
    background: linear-gradient(90deg, #FFA800 0%, #FF07AB 100%);
   /* Чтобы градиент был на самом тексте*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:2px solid #FF07AB;
    transition: 0.72s;
}

.bor:hover{
    /* Чтобы при наведении кнопка увеличивалась */
    transform: scale(1.01);
    transition: 0.16s;
}


.select2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wtf{
    font-size: 16px;
    line-height: 16px;
    opacity: .48;
}

.content{
    display: flex;
    justify-content: space-between;
}

.anim{
    width: 470px;
    height: 424px;  
}

.select3{
    margin-top: 112px;
    color:rgb(0, 0, 0);
    display: flex;
}

.case1{
    font-size: 39.06px;
    line-height: 39px;
    font-weight: 400;
}

.herob{
    margin-top: 32px;
}

.hype{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.rab{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}

.block2{
    margin-top: 103px;
    margin-left: 30px;
}

.shok{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.bhop{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}
.un{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.cash{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}

.block3{
    margin-top: 103px;
    margin-left: 30px;
}

.select3 img{
    transition: 0.72s;
}

.select3 img:hover{
    transform: scale(1.08);
    transition: 0.16s;
}

.select4{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.otz{
    font-size: 39.06px;
    line-height: 39px;
    font-weight: 400;
}

.lol{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.otz2{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}

.herob2{
    margin-top: 8px;
}

.select4{
    margin-top: 80px;
    display: flex;
}

.foot2{
    margin-top: 110px;
    margin-left: 30px;
}

.who{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.skam{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}

.foot3{
    margin-top: 110px;
    margin-left: 30px;
}

.ITpedia2{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
}

.ITpedia3{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: .48;
}

.select4 img{
    transition: 0.72s;
}

.select4 img:hover{
    transform: scale(1.08);
    transition: 0.16s;
}

.select3 img{
    cursor: pointer;
}